<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%-4relative] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAIN_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/application-main.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%-4relative] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REST_CLIENTS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/rest-clients-debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%-4relative] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INCOMING_REQUESTS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/incoming-requests-debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%-4relative] [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GRAYLOG_TCP" class="de.appelgriepsch.logback.GelfAppender">
        <server>127.0.0.1</server>
        <port>12201</port>
        <!--<server>192.168.99.100</server>-->
        <!--<port>12204</port>-->
        <hostName>macbook</hostName>
        <protocol>TCP</protocol>
        <includeSource>true</includeSource>
        <includeMDC>true</includeMDC>
        <queueSize>1024</queueSize>
        <connectTimeout>1000</connectTimeout>
        <reconnectDelay>500</reconnectDelay>
        <additionalFields>cow=moo,cat=meow</additionalFields>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%.-4096m</pattern>
        </layout>
    </appender>

    <appender name="GRAYLOG_UDP" class="de.appelgriepsch.logback.GelfAppender">
        <server>192.168.99.100</server>
        <port>12203</port>
        <hostName>macbook</hostName>
        <protocol>UDP</protocol>
        <includeSource>true</includeSource>
        <includeMDC>true</includeMDC>
        <queueSize>512</queueSize>
        <connectTimeout>1000</connectTimeout>
        <reconnectDelay>500</reconnectDelay>
        <additionalFields>cow=moo,cat=meow</additionalFields>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%.-25m</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.example">
        <appender-ref ref="MAIN_LOG_FILE" />
        <appender-ref ref="GRAYLOG_TCP" />
        <!--<appender-ref ref="GRAYLOG_UDP" />-->
    </logger>

    <logger name="com.example.interceptor.RestTemplateInterceptor" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="GRAYLOG_TCP" />
        <appender-ref ref="REST_CLIENTS_LOG_FILE" />
    </logger>

    <logger name="com.example.interceptor.ControllerExecuteTimeInterceptor" additivity="false" >
        <level value="DEBUG"/>
        <appender-ref ref="INCOMING_REQUESTS_LOG_FILE" />
    </logger>

</configuration>
